// .description-contaier {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 100vw;
//     height: 100vh;
//     background-color: rgba(0, 0, 0, 0.397);
//     // background-color: red;
//     position: fixed;
//     top: 0;
//     z-index: 1000;

//     .card-container {
//         display: flex;
//         width: 70%;
//         height: 70vh;
//         // background-color: rgb(119, 79, 79);
//         background-color: white;
//         border-radius: 10px;

//         .maindetail {
//             display: flex;
//             width: 95%;

//             .left-img {
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//                 width: 40%;
//                 height: 100%;
//                 border: solid black 1px;
//                 border-radius: 10px 0px 0 10px;
//                 overflow: hidden;

//                 img {
//                     width: 80%;

//                 }
//             }

//             .right-descriptino {
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//                 width: 60%;
//                 height: 100%;
//                 // background-color: beige;

//                 .main-detailTag {
//                     width: 80%;
//                     // background-color: red;

//                     p {
//                         font-size: 18px;
//                         font-weight: bold;
//                         padding: 20px;
//                     }

//                     .inquire-section {
//                         // background-color: red;
//                         display: flex;
//                         align-items: center;
//                         // justify-content: center;
//                         margin-top: 15px;

//                         .whatsapp {
//                             color: green;

//                             &:hover {
//                                 cursor: pointer;
//                                 transform: scale(1.2);
//                             }
//                         }
//                     }
//                 }
//             }
//         }

//         .closebtn-fram {
//             display: flex;
//             justify-content: flex-end;
//             // background-color: yellow;
//             width: 5%;

//             .close-btn {

//                 &:hover {
//                     cursor: pointer;
//                 }
//             }
//         }
//     }
// }

.description-contaier {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.719);
    position: fixed;
    top: 0;
    z-index: 10;

    .card-container {
        display: flex;
        width: 70%;
        // height: 70vh;
        // background-color: rgb(119, 79, 79);
        background-color: white;
        border-radius: 10px;

        .maindetail {
            display: flex;
            width: 95%;
            margin: 10px 0 10px 0;

            .left-img {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40%;
                // height: 100%;
                border: solid black 1px;
                border-radius: 10px 10px 10px 10px;
                overflow: hidden;
                background-position: center;
                background-size: cover;
                margin: 10px;

                img {
                    width: 100%;
                    height: 100%;
                    // object-fit: cover;

                }
            }

            .right-descriptino {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 60%;
                height: 100%;
                // background-color: beige;

                .main-detailTag {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 80%;
                    // background-color: red;
                    margin: 10px;

                    p {
                        font-size: 18px;
                        font-weight: bold;
                        padding: 10px;
                    }

                    .inquire-section {
                        // background-color: red;
                        display: flex;
                        align-items: center;
                        // justify-content: center;
                        margin-top: 15px;

                        .whatsapp {
                            color: green;

                            &:hover {
                                cursor: pointer;
                                transform: scale(1.2);
                            }
                        }
                    }
                }
            }
        }

        .closebtn-fram {
            display: flex;
            justify-content: flex-end;
            // background-color: yellow;
            width: 5%;

            .close-btn {

                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }
        }
    }
}

@media screen and (max-width: 1115px) {
    .description-contaier {

        .card-container {
            width: 90%;
        }
    }
}

@media screen and (max-width: 900px) {
    .description-contaier {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // width: 100%;
        // height: 100vh;
        // background-color: rgb(236, 154, 154);

        .card-container {
            // display: flex;
            width: 90%;
            // height: 70vh;
            // // background-color: rgb(119, 79, 79);
            // background-color: white;
            // border-radius: 10px;

            // .maindetail {
            //     display: flex;
            //     width: 95%;

            //     .left-img {
            //         display: flex;
            //         align-items: center;
            //         justify-content: center;
            //         width: 40%;
            //         height: 100%;
            //         border: solid black 1px;
            //         border-radius: 10px 0px 0 10px;

            //         img {
            //             width: 80%;

            //         }
            //     }

            .right-descriptino {
                // display: flex;
                // align-items: center;
                // justify-content: center;
                // width: 60%;
                // height: 100%;
                // background-color: beige;

                .main-detailTag {
                    // width: 80%;
                    // // background-color: red;

                    p {
                        // font-size: 18px;
                        // font-weight: bold;
                        // padding: 10px;
                    }

                    .inquire-section {
                        // // background-color: red;
                        // display: flex;
                        // align-items: center;
                        // // justify-content: center;
                        // margin-top: 15px;

                        // .whatsapp {
                        //     color: green;

                        //     &:hover {
                        //         cursor: pointer;
                        //     }
                        // }
                    }
                }
            }
        }

        .closebtn-fram {
            // display: flex;
            // justify-content: flex-end;
            // // background-color: yellow;
            // width: 5%;

            // .close-btn {

            //     &:hover {
            //         cursor: pointer;
            //     }
            // }
            // }
        }
    }
}

@media screen and (max-width: 740px) {
    .description-contaier {
    
        .card-container {
            flex-direction: column-reverse;
            width: 550px;
    
            .maindetail {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 550px;
                height: 500px;
                // background-color: red;
    
                .left-img {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 80%;
                    height: 100%;
                    border: none;
                    margin: 0px;
                    // background-color: blue;
    
                    img {
                        border: solid black 1px;
                        border-radius: 10px 10px 10px 10px;
                        // height: 100%;
                        // object-fit: cover;
    
                    }
                }
    
                .right-descriptino {
                    width: 100%;
                    // background-color: beige;
    
                    .main-detailTag {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        width: 80%;
                        // background-color: red;
                    }
                }
            }

            .closebtn-fram {
                display: flex;
                justify-content: flex-end;
                // background-color: yellow;
                width: 100%;
    
                .close-btn {
    
                    &:hover {
                        cursor: pointer;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 580px) {
    .description-contaier {
    
        .card-container {
            width: 450px;
    
            .maindetail {
                width: 450px;
                // background-color: red;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .description-contaier {
    
        .card-container {
            width: 350px;
    
            .maindetail {
                width: 350px;
                height: auto;
                // background-color: red;

                .left-img {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 80%;
                    height: auto;
                }
            }
        }
    }
}

@media screen and (max-width: 390px) {
    .description-contaier {
    
        .card-container {
            width: 300px;
    
            .maindetail {
                width: 300px;
                height: auto;
                // background-color: red;

                .left-img {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 80%;
                    height: auto;
                }
            }
        }
    }
}